spring:
  profiles:
    active: dev
  application:
    name: hospital-backend
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

server:
  port: 9090
  servlet:
    # context-path: /api  # 移除 context-path，改为在控制器中使用 /api 前缀
    encoding:
      charset: UTF-8
      enabled: true
      force: true

logging:
  level:
    com.hospital: debug
    org.springframework.web: info
    org.springframework.jdbc: debug
    com.zaxxer.hikari: debug

